# AWS region to deploy the resources
region = "us-east-1"

# CIDR block for the VPC
vpc_cidr = "10.0.0.0/16"

# List of CIDR blocks for the subnets, should be /24
subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]

# Availability zone for the subnets
availability_zone = "a"

# EC2 instance type
instance_type = "c4.large"

# AMI ID for the EC2 instance
ami_id = "ami-09fd2b8b128dc0f2d"

# Unique identifier for each deployment
deployment_id = "default"

# Admin password
admin_password = "password1"

# Admin username
admin_user = "admin"

# Is GEL enabled for this deployment 
get_enabled = false

# GEL primary URL
gel_url_primary = "http://primary.gel.example.com"

# GEL secondary URL
gel_url_secondary = "http://secondary.gel.example.com"

# GEL enterprise ID
gel_ent_id = "12345"

# GEL throughput in MB
gel_throughput_mb = 100

# GEL primary DNS
gel_dns_pri = "8.8.8.8"

# NTP primary server IP Address only
ntp_primary_server = "132.163.97.8"

# NTP time zone
ntp_tzone = "UTC"

# Local IP address
cc_local_ip = "10.0.1.2"

# Remote IP address
cc_remote_ip = "0.0.0.0"

# VM name
vm_name = "default-vm"

# Syslog Server IP for syslog host 1
hst1_ip = "1.2.3.4"

# Severity[0-7] for syslog host 1
hst1_severity = 7

# Facility[0-7] for syslog host 1
hst1_facility = 0

# Module for syslog host 1
hst1_module = "all"

# Port for syslog host 1
hst1_port = 514

# Syslog Server IP for syslog host 2
hst2_ip = "0.0.0.0"

# Severity for syslog host 2
hst2_severity = 7

# Facility for syslog host 2
hst2_facility = 0

# Module for syslog host 2
hst2_module = "all"

# Port for syslog host 2
hst2_port = 514
